html {
  scrollbar-width: thin;
  scrollbar-color: rgb(79, 79, 248) whitesmoke;
}

body {
  margin: 0;
  background-color: whitesmoke;
  font-family: "Open Sans";
  /* background-image: url("./img/bg.png"); */
  background-size: contain;
  background-repeat: space;
  background-position: center;
}

.nav {
  background-color: rgb(79, 79, 248);
  margin-bottom: 24px;
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.5);
}

footer a {
  text-decoration: none;
  color: wheat;
  transition: text-decoration 80ms ease-in-out;
}

footer a:hover {
  text-decoration: underline;
}

footer {
  background-color: rgb(79, 79, 248);
  margin-top: 24px;
  padding: 24px 0;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.active {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.h50 {
  height: 50%;
}

.headline {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 16px;
  color: white;
  text-align: center;
  text-shadow: 1px 0 0 red, 0 -1px 0 red, 0 1px 0 red, -1px 0 0 #000;
  font-size: 32px;
  height: fit-content;
}

.headline img {
  object-fit: contain;
  width: 64px;
}

#pokedexContainer {
  min-height: 100vh;
  color: white;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  gap: 16px;
  top: 0;
  left: 0;
}

#pokedex {
  width: 50vh;
  height: 83vh;
  max-height: 83vh;
  background-color: white;
  border-radius: 16px;
  overflow: hidden;
  animation: neonize 1250ms ease-in-out infinite alternate;
}

@keyframes neonize {
  from {
    box-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 30px #94a0b0, 0 0 40px #94a0b0,
      0 0 50px #94a0b0, 0 0 60px #94a0b0;
  }
  to {
    box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 15px #94a0b0, 0 0 25px #94a0b0,
      0 0 35px #94a0b0, 0 0 45px #94a0b0;
  }
}

#cardTop {
  height: 40%;
  background-image: url("./img/pokeball.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#content {
  background-color: white;
  color: black;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  height: 100%;
}

.rightArrow {
  transform: rotate(180deg);
}

.padding24 {
  padding: 24px;
}

.minHeight {
  min-height: 50vh;
}

.pokedexNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pokedexNav img {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.pokemonHead {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.pokemonTypes {
  display: flex;
  gap: 8px;
}

.type {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 4px 24px;
  border-radius: 24px;
  color: gold;
}

.pokedexCategory {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  height: 30px;
  margin-bottom: 16px;
}

.pokedexCategory span {
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  padding: 0px 4px;
}

.pokedexCategory a {
  transition: all 120ms ease-in-out;
}

.pokedexCategory span:hover {
  color: #94a0b0;
}

#content table {
  width: 100%;
  font-size: 14px;
}

#content tbody {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}

#content tr {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

#content table tbody tr td:first-child {
  color: #94a0b0;
}

.pokemonImgContainer {
  display: flex;
  justify-content: center;
  position: relative;
}

.pokemonImgContainer img {
  object-fit: contain;
  position: absolute;
  width: 60%;
  bottom: -5px;
  right: -20px;
}

#pokemonList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

.pokemonCard {
  height: 200px;
  width: 300px;
  background-color: grey;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: scale 100ms ease-in-out 150ms;
}

.pokemonCard section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.pokemonCard:hover {
  scale: 0.9;
}

.pokemonImage {
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-between;
}

.pokemonImage p {
  margin-top: 16px;
}

.buttonSection {
  display: flex;
  justify-content: space-around;
  margin: 24px;
}

.buttonSection button {
  box-shadow: 3px 4px 0px 0px #899599;
  background: linear-gradient(to bottom, #ededed 5%, #f23841 100%);
  border-radius: 15px;
  border: 1px solid #d6bcd6;
  display: inline-block;
  cursor: pointer;
  color: #ff0000;
  font-size: 32px;
  font-style: italic;
  padding: 8px 8px;
  text-shadow: 0px 1px 0px #e1e2ed;
  transition: all 125ms linear;
}

.buttonSection button:hover {
  background:linear-gradient(to bottom, #f23841 5%, #ededed 100%);
	background-color:#f23841;
}

.arrowImage {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  border-radius: 16px;
  padding: 4px;
  transition: background-color 120ms ease-in-out;
}

.arrowImage:hover {
  background-color: rgb(104, 103, 103);
}

#myChart {
  margin-top: 16px;
}

#moves {
  margin-top: 16px;
  max-height: 20vh;
  overflow-y: scroll;
}

.mobileArrows {
  display: none;
  align-items: center;
  gap: 24px;
  margin-top: 0px;
}

.mobileArrows img {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  border-radius: 16px;
  padding: 4px;
  transition: background-color 120ms ease-in-out;
}

.mobileArrows img:hover {
  background-color: rgb(104, 103, 103);
}

#evolutionList {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

#evolutionList div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#evolutionList img {
  width: 40px;
}

.inputSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

#pokemonSuggestions {
  background-color: blue;
  color: white;
  max-width: 200px;
  width: 200px;
  border-radius: 8px;
  margin-bottom: 24px;
}

#pokemonSuggestions div {
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dropDownImg {
  width: 40px;
}

#pokemonSuggestions div:hover {
  background-color: rgba(0, 0, 0, 0.6);
  color: orangered;
  cursor: pointer;
}

#pokemonInput {
  border-radius: 16px;
  padding: 4px 8px;
  background-color: rgb(221 219 211);
  animation: neonize 1250ms ease-in-out infinite alternate;
}

#pokemonInput:focus {
  background-color: white;
}

@media (max-width: 640px) {
  #pokedexContainer {
    flex-direction: column;
  }

  .mobileArrows {
    display: flex;
  }

  .arrowImage {
    display: none;
  }
}

@media (max-width: 500px) {
  #pokedex {
    width: 100%;
  }

  #myChart {
    margin-top: 24px;
  }
}

@media (max-width: 340px) {
  .headline {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  h1 {
    margin: 0;
  }

  .pokedexCategory {
    gap: 5px;
  }

  .pokedexCategory span {
    font-size: 14px;
  }
}
